$font : "Trebuchet MS",
"Lucida Sans Unicode",
"Lucida Grande",
"Lucida Sans",
Arial,
sans-serif;

$baloo : 'Baloo 2',
'arial',
'sans-serif';

$montserrat : 'Montserrat',
'arial',
'sans-serif';

$nunito : 'Nunito Sans',
'arial',
'sans-serif';

$gold      : #d59140;
$blue      : #b3dde2;
$grey      : #3F3E40;
$white     : #eeedea;
$dark      : #191a1fee;
$light     : #23242aee;
$medium    : #fff1;
// $light  : #fff2;

$disabled   : #fff3;
$text-medium: #fffa;
$text-bright: #fffd;

$gold: #bb86fc;

@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@700;800&family=Montserrat:wght@400;700&family=Nunito+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


* {
  margin     : 0;
  padding    : 0;
  line-height: 1.5;
  font-family: $nunito;
  box-sizing : border-box;
  color      : $text-medium;
}

body {
  position      : relative;
  min-height    : 100vh;
  padding-bottom: 5rem;
}

.wave-bg {
  background-image     : url("../assets/img/wave.svg");
  background-attachment: fixed;
  background-repeat    : no-repeat;
  background-position  : left;
  background-size      : cover;
  animation            : gradient 120s infinite ease-out;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

a {
  font-weight: bold;
  color      : inherit;
}


h1 {
  font-family  : $baloo;
  font-size    : 3rem;
  margin       : 0;
  margin-bottom: .5rem;
  line-height  : 1.1;
  color        : $text-bright;
}

header {
  max-width      : 1920px;
  margin         : auto;
  display        : flex;
  justify-content: space-between;
  padding        : 1rem 2rem;
  max-width      : 95%;
}

header nav a {
  margin-left: .2rem !important;
}

footer {
  margin     : auto;
  position   : absolute;
  bottom     : 0;
  left       : 0;
  right      : 0;
  min-height : 5rem;
  font-weight: 900;
  text-align : center;

}

.button {
  background   : $gold;
  color        : $white;
  padding      : .5rem .67rem;
  margin       : .2rem;
  border       : .1rem solid $gold;
  border-radius: .5rem;
  box-shadow   : 0 0 .2rem $gold;
  width        : max-content;
  margin       : .2rem auto;
  transition   : .2s ease-out;
}


.button:hover {
  filter : saturate(2);
  opacity: .8;
}


.button-outline {
  color     : $gold;
  background: none;
}

body {
  background: $dark;
}

#servers .server {
  overflow  : hidden;
  width     : 5rem;
  height    : 5rem;
  box-shadow: 0 0 0.5rem #1234;
  position  : relative;
}

#servers * {
  transition: 0.5s ease-out;
}

#servers .server:hover img {
  transform: scale(1.1);
}

#servers .ping {
  box-shadow: 0 0 0.2rem 0.2rem red;
}

#servers .server:hover {
  border-radius: 0;
}

.server img {
  width     : 100%;
  object-fit: contain;
}

#container {
  max-width: 1200px;
  margin   : auto;
  padding  : 1rem;
}


p {
  margin-bottom: 1.5rem;
}

.wave {
  position: absolute;
  z-index : -1;
  bottom  : 0;
  left    : 0;
  right   : 0;
}

.hero {
  display       : flex;
  flex-direction: column;
  margin        : auto;
  text-align    : center;
  max-width     : 60ch;
  background    : $dark;
  border-radius : 1rem;
  padding       : 2rem;
  margin-top    : 6rem;
  box-shadow    : 0 0.2rem 0.5rem $gold;

}

.w-big {
  max-width: 1600px;
  width    : 95%;
}

.m-auto {
  margin: auto;
}

#servers {
  display              : grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 250px));
  justify-content      : center;
  text-align           : center;
  margin-top           : 1rem;
  gap                  : 1rem;
}

#servers .server-icon {
  text-decoration: none;
  background     : $light;
  border-radius  : 1rem;
  margin         : 1rem 0;
  padding        : 3rem 1rem .5rem 1rem;

  &:hover {

    background: $dark !important;
    box-shadow: 0 0.2rem 0.5rem $gold;


    img {
      transform: scale(1.1);
    }
  }
}

.server-img-wrap {
  display      : flex;
  border-radius: 0.5rem;
  margin-top   : -4rem;
  overflow     : hidden;
  display      : flex;
}

.server-icon .server-info {
  padding-top: .5rem;
}

#servers img {
  width: 100%;
}

#servers h3 {
  font-size  : 1rem;
  font-weight: bold;
}

#servers .server-bio {
  font-style: italic;
  margin    : unset;
}

/* 
gold - d59140 
blue - B3DDE2*/
/*# sourceMappingURL=style.scss.map */